
{{ INCLUDE header }}


<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
       {{ FOREACH POSTS }}
       <a name="{{ title }}"></a>
          <h2><a href="{{ url }}">{{ title }}</a></h2>
          {{ body.more }}
       {{ END }}
    </div>

    {{ INCLUDE sidebar }}

  </div>
</div>

{{ INCLUDE footer }}
