
<!DOCTYPE html>
<html lang="{{ SITE.language }}">
<head>
  <title>{{ TITLE }}</title>

  <meta charset="utf-8">
  <meta name="description" content="{{ DESCRIPTION }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ TITLE }}">
  <meta property="og:url" content="{{ URL }}">
  <meta property="og:site_name" content="{{ TITLE }}">
  <meta property="og:description" content="{{ DESCRIPTION | html }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ TITLE }}">
  <meta name="twitter:description" content="{{ DESCRIPTION | html }}">

  <link rel="short icon" href="{{ SITE.icon }}">
  <link href="{{ MainSTATIC }}/mido/style.css" rel="stylesheet">

</head>
<body>

	<header>
		<section class="container">
			<h1>{{ TITLE }}</h1>
		</section>
	</header>

	<div class="container">
		<section id="sidebar">
			<nav class="sidebar__inner">
				{{ FOREACH SEASON_ARCHIVE.sort('name') }}
    		{{ FOREACH post IN posts.sort }}
      	{{ IF loop.index == 0 }}
        	<span class="season">{{ ENTRIES.$post.seasonname }}</span>
      	{{ END }}
   			{{ IF ( ENTRIES.${loop.prev}.chaptername != ENTRIES.$post.chaptername ) }}
					<span class="chapter">{{ ENTRIES.$post.chaptername }}</span>
				{{ END }}
					<a href="#${ENTRIES.$post.seasonname}_${ENTRIES.$post.chaptername}_${ENTRIES.$post.title}">- {{ ENTRIES.$post.title }}</a>
		    {{ END }}
    		{{ END }}
			</nav>
		</section>

		<section id="content">
	  {{ FOREACH post IN POSTS }}
    {{ IF loop.prev.seasonname != post.seasonname }}
    	<h1 class="list">{{ post.seasonname }}</h1>
    {{ END }}
    {{ IF loop.prev.chaptername != post.chaptername }}
    	<h2 class="list">{{ post.chaptername }}</h2>
    {{ END }}

    	  <a name="${post.seasonname}_${post.chaptername}_${post.title}"></a>
    	  <h3 class="list">{{ post.title }}</h3>
    	  
    	  <div class="content-body">
        {{ post.body.more }}
        </div>


  	{{ END }}
		</section>
	</div>

	<script type="text/javascript" src="{{ MainSTATIC }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MainSTATIC }}/js/sticky-sidebar.js"></script>
	<script type="text/javascript">
		\$(document).ready(function(){

			\$('#sidebar').stickySidebar({
				topSpacing: 20,
				bottomSpacing: 20,
				containerSelector: '.container',
				innerWrapperClass: 'sidebar__inner'
			});
		});
	</script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99747815-1', 'auto');
  ga('send', 'pageview');

	</script>
	
</body>
</html>


